/* タイトルバー・上枠を最大限消す */
#header, .window-buttongroup, .titlebar, .vivaldi, .window-appmenu {
    display: none !important;
    height: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
